@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?oemmqr');
    src: url('../fonts/icomoon.eot?oemmqr#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?oemmqr') format('truetype'),
        url('../fonts/icomoon.woff?oemmqr') format('woff'),
        url('../fonts/icomoon.svg?oemmqr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 100%;
    background-color: purple;
}

.newsflash {
    float: right;
    width: 250px;
    height: 100%;

}

.news {
    height: 165px;

    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.more::after {
    content: '\e90f';
    font-family: 'icomoon';

}

.more {
    float: right;
}

.news-bd {
    padding: 5px 15px 0;

}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    /* 省略号制作 */
    /* 超出部分隐藏 */
    overflow: hidden;
    /* 强制一行显示文字 */
    white-space: nowrap;
    /* 超出部分省略号 */
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: none;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: pink;
    margin-top: 12px;
    background: url(../img/icons.png) -15px -15px no-repeat;
}

.lifeservice ul li:nth-child(2) i {
    background-position: -79px -15px;
}

.lifeservice ul li:nth-child(2) {
    position: relative;
}

.lifeservice ul li:nth-child(2) img {
    position: absolute;
    top: 0;
    right: 0;
}

.lifeservice ul li:nth-child(3) i {
    background-position: -141px -15px;
}

.lifeservice ul li:nth-child(4) i {
    background-position: -204px -15px;
}

.lifeservice ul li:nth-child(5) i {
    background-position: -15px -86px;
}

.lifeservice ul li:nth-child(6) i {
    background-position: -78px -86px;
}

.lifeservice ul li:nth-child(7) i {
    background-position: -141px -86px;
}

.lifeservice ul li:nth-child(8) i {
    background-position: -205px -86px;
}

.lifeservice ul li:nth-child(9) i {
    background-position: -15px -158px;
}

.lifeservice ul li:nth-child(10) i {
    background-position: -78px -158px;
}

.lifeservice ul li:nth-child(11) i {
    background-position: -141px -154px;
}

.lifeservice ul li:nth-child(12) i {
    background-position: -205px -158px;
}

.lifeservice ul {
    width: 252px;
}

.bargain {
    margin-top: 6px;
}

.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
    margin-bottom: 20px;
}

.recom_hd {
    float: left;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;

}



.recom_1hd {
    height: 40px;
    width: 100%;
    line-height: 40px;
}

.recom_1hd h4 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.recom_1hd a {
    float: right;
    margin-right: 20px;
}

.recom_1hd a::after {
    content: '\e913';
    font-family: 'icomoon';
}

.recom_1bd {
    overflow: hidden;
    height: 233px;
    width: 100%;
    border: 1px solid #ededed;
}

.recom_1bd ul {
    width: 1212px;

}

.recom_1bd ul li {
    position: relative;
    float: left;
    width: 202px;
    height: 233px;

    text-align: center;
}

.recom_1bd ul li::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 1px;
    height: 62px;
    background-color: #ededed;
}

.recom_1bd ul li a img {
    width: 201px;
    height: 160px;
}

.recom_1bd ul li a {
    color: #666666;
}

.recom_1bd ul li a i {
    font-size: 18px;
    color: #df3033;
}

.recom_1bd ul li a i::before {
    content: '¥';
    font-size: 14px;
}

/* 家电模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: normal;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.box_hd ul li {
    float: left;
}

.box_hd ul li a {
    padding: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;

}

.tab_list_item>div {
    float: left;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    height: 361px;
    text-align: center;
}

.col_210 ul {
    padding-left: 1px;
}

.col_210 ul li {
    float: left;
    width: 86px;
    height: 33px;
    text-align: center;
    margin-left: 12px;
    line-height: 33px;
    border-bottom: 1px solid #ededed;
}


.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ededed;
}

.col_219 {
    width: 219px;
}

/* 一般情况下a如果要包含有宽度的盒子，需要转换成块元素  */
.bb {
    display: block;
    border-bottom: 1px solid #ededed;
}